body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

.bold-font {
    font-weight: bold;
}

.white-font {
    color: white;
}

/*
 start home page
*/

/*
logo start
*/
.sbc-logo {
    margin-top: 1%;
    margin-left: 9%;
}

/*
logo end
*/
.carousel .carousel-item>img {
    height: 100%;
}

#left-right-alignment {
    padding: 0;
    width: 32%;
}

#left-right-alignment-middle {
    padding: 0;
    width: 32%;
    margin: 0 2%;
}

#height-fix {
    height: 450px !important;

}

#about-header-image {
    width: 100%;
}

#contact-header-image {
    filter: brightness(40%);
    width: 100%;
}


#carausel-adjust {
    height: 200px !important;
}

.carousel-adjust-item {
    min-height: 0 !important;
}


/*
 start carousel  adjustments
*/
.card-image-adjust {
    height: 100% !important;
}

.card-link-align {
    text-align: center !important;
}
