.WhyChoseUs{
    height: 60vh;
}

.WhyChoseUs h2{
    font-size: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 2vh;
    padding-bottom: 2vh;
    height: 10vh;
    color: #e3e5f2;
	background-color: #504fb4f0;

}

.WhyChoseUs .Container{
    height: 40vh;
}

.WhyChoseUs .Container .Wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;   
    padding: 8.5vh 5vw 8.5vh 5vw;
    gap: 4vw;
    height: 30vh;
    background-color: white;
}


.WhyChoseUs .Container .Wrapper .Charges{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2vw;
    border-radius: 10px;
    background-color:#504fb4f0;
    height: 20vh;
    width: 18vw;

}

.WhyChoseUs .Container .Wrapper .Charges h3{
    color: #e3e5f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20.5px;
    padding-bottom: 2vh;
}


.WhyChoseUs .Container .Wrapper .Experience{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color:#504fb4f0;
    padding: 2vw;
    border-radius: 10px;
    height: 20vh;
    width: 18vw;
}


.WhyChoseUs .Container .Wrapper .Experience h3{
    color: #e3e5f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20.5px;
    padding-bottom: 2vh;
}




.WhyChoseUs .Container .Wrapper .Quality{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #504fb4f0;
    padding: 2vw;
    border-radius: 10px;
    height: 20vh;
    width: 18vw;
}

.WhyChoseUs .Container .Wrapper .Quality h3{
    color: #e3e5f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20.5px;
    padding-bottom: 2vh;
}



/*Quick*/


.WhyChoseUs .Container .Wrapper .Quick{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: #504fb4f0;
    padding: 2vw;
    border-radius: 10px;
    height: 20vh;
    width: 18vw;
}

.WhyChoseUs .Container .Wrapper .Quick h3{
    color: #e3e5f2;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    font-size: 20.5px;
    padding-bottom: 2vh;
}