.Header h2{
    padding-top: 0vh;
    display: flex;
    justify-content: center;
    font-size: 30px;
    color: #e3e5f2;
}

.Header h3{
    color: black;
    font-size: 17px;
    display: flex;
    justify-content: center;
    padding-top: 2vh;
    
}


.Container{
    height: 70vh;
    margin-top: 5vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}