.Information{
	height: 40vh;
	background-color: white;
	display: flex;
}

.Information .Address{
	display: flex;
	flex-direction: column;
	width: 50vw;
	justify-content: center;
	align-items: center;
}

.Information .Address h3{
	display: flex;
	justify-content: center;
	padding: 1vh 0vw 1vh 0vw;
	font-size: 20px;
	color: black;
}

.Information .Address p{
	display: flex;
	justify-content: center;
	font-weight: normal;
	font-size: 14px;
}

.Information .Phone{
	width: 50vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding-bottom: 2vh;
}

.Information .Phone h3{
	display: flex;
	justify-content: center;
	padding: 1vh 0vw 1vh 0vw;
	font-size: 20px;
	color: black;
}

.Information .Phone p{
	display: flex;
	justify-content: center;
	font-weight: normal;
	font-size: 14px;
}